/*External CSS*/
.External{
    color: rgb(120, 120, 0);
}

/*Inline Vs External*/
.inex{
    color: pink;
}

/*Internal vs External*/
.intex{
    color: rgb(234, 192, 192);
}
/*Inline vs Internal Vs Ec=xternal*/
.inintex{
    color: rgb(145, 235, 205);
}